In [66]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

cData = pd.read_excel("c.xlsx",
                      index_col='date', parse_dates=['date'])

In [67]:
# 앞부분 5개만 보기
cData.head()

,0015,0030,0045,0100,0115,0130,0145,0200,0215,0230,...,2145,2200,2215,2230,2245,2300,2315,2330,2345,2400
date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,21613.2,21660.8,21775.6,21680.4,21652.4,21618.8,21607.6,21663.6,21722.4,21702.8,...,13983.2,13820.8,15265.6,17673.6,17651.2,18155.2,17978.8,17861.2,17810.8,17808.0
2018-01-02,17900.4,17978.8,17917.2,17903.2,17981.6,18032.0,17920.0,17942.4,18057.2,20154.4,...,17208.8,17192.0,17180.8,17197.6,17186.4,17200.4,17138.8,17088.4,17080.0,16805.6
2018-01-03,16814.0,16942.8,16934.4,16990.4,16965.2,16959.6,16923.2,16993.2,16984.8,17001.6,...,11300.8,11286.8,11272.8,11365.2,11519.2,12297.6,16329.6,18281.2,18440.8,18510.8
2018-01-04,18659.2,19863.2,20932.8,20792.8,20283.2,20392.4,20764.8,20955.2,20935.6,20860.0,...,9920.4,9940.0,10740.8,11186.0,11737.6,12552.4,15744.4,17872.4,18004.0,18317.6
2018-01-05,18474.4,18981.2,19625.2,19541.2,19560.8,19558.0,19451.6,19516.0,19157.6,19429.2,...,11256.0,11239.2,11200.0,11118.8,11508.0,12034.4,15092.0,17108.0,17704.4,17208.8

In [68]:
cData.iloc[0,0:].head()

0015    21613.2
0030    21660.8
0045    21775.6
0100    21680.4
0115    21652.4
Name: 2018-01-01 00:00:00, dtype: float64

In [77]:
cData.iloc[0,0:].sum()

1848725.2000000002

In [85]:
cData.sum(axis=1).head()

date
2018-01-01    1848725.2
2018-01-02    1566860.4
2018-01-03    1365182.0
2018-01-04    1473245.2
2018-01-05    1483543.6
dtype: float64

date
2018-01-01     9581.6
2018-01-02     9212.0
2018-01-03     9114.0
2018-01-04    11034.8
2018-01-05     8772.4
2018-01-06    13297.2
2018-01-07     3906.0
2018-01-08    12014.8
2018-01-09     9388.4
2018-01-10     8909.6
2018-01-11    10656.8
2018-01-12    11880.4
2018-01-13    12266.8
2018-01-14     4807.6
2018-01-15    12110.0
2018-01-16     7232.4
2018-01-17     7417.2
2018-01-18     5980.8
2018-01-19     5482.4
2018-01-20     8764.0
2018-01-21     2052.4
2018-01-22     3838.8
2018-01-23     3472.0
2018-01-24     3861.2
2018-01-25    11474.4
2018-01-26    10281.6
2018-01-27     6949.6
2018-01-28     4432.4
2018-01-29     8587.6
2018-01-30    13020.0
               ...
2019-11-01    17259.2
2019-11-02    11006.8
2019-11-03     3813.6
2019-11-04    22744.4
2019-11-05    22685.6
2019-11-06    24508.4
2019-11-07    24970.4
2019-11-08    14492.8
2019-11-09     9394.0
2019-11-10     2030.0
2019-11-11    13675.2
2019-11-12    20132.0
2019-11-13    20157.2
2019-11-14    24469.2
2019-11-15    21826.0
2019-11-16    10544.8
2019-11-17     2396.8
2019-11-18    22125.6
2019-11-19    19395.6
2019-11-20    20132.0
2019-11-21    21980.0
2019-11-22    25267.2
2019-11-23    18650.8
2019-11-24     1708.0
2019-11-25    21952.0
2019-11-26    22386.0
2019-11-27    15965.6
2019-11-28    15699.6
2019-11-29    24071.6
2019-11-30     9304.4
Length: 699, dtype: float64